<h1>Listing commits</h1>

<table>
  <tr>
    <th>Volley</th>
    <th>Player</th>
    <th>Message</th>
  </tr>

<% for commit in @commits %>
  <tr>
    <td><%=h commit.volley_id %></td>
    <td><%=h commit.player_id %></td>
    <td><%=h commit.message %></td>
    <td><%= link_to 'Show', commit %></td>
    <td><%= link_to 'Edit', edit_commit_path(commit) %></td>
    <td><%= link_to 'Destroy', commit, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New commit', new_commit_path %>
