<p>
  <b>Volley:</b>
  <%=h @commit.volley_id %>
</p>

<p>
  <b>Player:</b>
  <%=h @commit.player_id %>
</p>

<p>
  <b>Message:</b>
  <%=h @commit.message %>
</p>


<%= link_to 'Edit', edit_commit_path(@commit) %> |
<%= link_to 'Back', commits_path %>
