<p>
  <b>Player:</b>
  <%=h @volley.player_id %>
</p>

<p>
  <b>Match:</b>
  <%=h @volley.match_id %>
</p>

<p>
  <b>Completed at:</b>
  <%=h @volley.completed_at %>
</p>


<%= link_to 'Edit', edit_volley_path(@volley) %> |
<%= link_to 'Back', volleys_path %>
