<h1>User Details</h1>

<% form_for(@user) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :fullname, "Full Name" %><br />
    <%= f.text_field :fullname %>
  </p>
  <p>
    <%= f.label :nickname %><br />
    <%= f.text_field :nickname %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :url, "Website" %><br />
    <%= f.text_field :url %>
  </p>
  <p>
    <%= f.label :identity_url, "Open ID" %><br />
    <%= f.text_field :identity_url, :disabled => true %>
  </p>
  <p>
    <%= f.label :github_user, "Github Username" %><br />
    <%= f.text_field :github_user %>
  </p>
  <p>
    <%= f.label :time_zone %><br />
    <%= f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones %>
  </p>
  <p>

    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
