<h1>User Details</h1>

<% form_for(:user, @user, current_user_path, :html => {:method => :put}) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :fullname, "Full Name" %><br />
    <%= f.text_field :fullname %>
  </p>
  <p>
    <%= f.label :nickname %><br />
    <%= f.text_field :nickname %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :url, "Website" %><br />
    <%= f.text_field :url %>
  </p>
  <p>
    <%= f.label :identity_url, "Open ID" %><br />
    <%= f.text_field :identity_url, :disabled => true %>
  </p>
  <p>
    <%= f.label :twitter_name, "Twitter Username" %><br />
    <%= f.text_field :twitter_name %>
  </p>
  <p>
    <%= f.label :github_user, "Github Username" %><br />
    <%= f.text_field :github_user %>
  </p>
  <p>
    <%= f.label :time_zone %><br />
    <%= f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones %>
  </p>
  <%= f.label :avatar %><br />
  <% Avatar.all.each do |avatar| %>
	<%= f.radio_button :avatar_id, avatar.id %>
	<%= image_tag(avatar.filename, :alt => avatar.name) %>
  <% end %>
  <p>
    <%= f.submit "Update" %> <%= link_to "Cancel", @user %>
  </p>
<% end %>
