<h1>Listing users</h1>

<table>
  <tr>
    <th>Fullname</th>
    <th>Nickname</th>
    <th>Email</th>
    <th>Url</th>
    <th>Identity url</th>
    <th>Github user</th>
    <th>Time zone</th>
  </tr>

<% for user in @users %>
  <tr>
    <td><%=h user.fullname %></td>
    <td><%=h user.nickname %></td>
    <td><%=h user.email %></td>
    <td><%=h user.url %></td>
    <td><%=h user.identity_url %></td>
    <td><%=h user.github_user %></td>
    <td><%=h user.time_zone %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New user', new_user_path %>
