<h2><%=h @user.display_name %></h2>

<div id="matches">

<h3>Matches</h3>

<%- if @user.matches.incomplete.any? -%>
<ul>
<%- @user.matches.incomplete.each do |match| -%>
  <li><%= link_to h(match.name), match_path(match) %></li>
<%- end -%>
</ul>
<%- else -%>
<p><%= h(@user.display_name) %> is not currently playing in any matches.</p>
<%- end -%>

<h4>Past Matches</h4>

<%- if @user.matches.complete.any? -%>
<ul>
<%- @user.matches.complete.each do |match| -%>
  <li><%= link_to h(match.name), match_path(match) %></li>
<%- end -%>
</ul>
<%- else -%>
<p><%= h(@user.display_name) %> has not played in any past matches.</p>
<%- end -%>

<%- if logged_in? && current_user.administrations.with_openings.any? -%>
<% form_tag(players_matches_path) do %>
  <%= hidden_field_tag :user_id, @user.id %>
  <p>
    Add this user to one of your Matches?
    <%= select_tag :match_id, options_from_collection_for_select(current_user.administrations.with_openings, :id, :name) %>
    <%= submit_tag "Add" %>
  </p>
<%- end -%>
<%- elsif logged_in? && current_user == @user -%>
<p>To play with this user, create a <%= link_to "new match", new_match_path %>.</p>
<%- end -%>

</div>

<div id="user_details">
<p>
  Nickname: <%=h @user.nickname %>
</p>
<p>
  <b>Email:</b>
  <%= mail_to h(@user.email), h(@user.email), :encode => :javascript %>
</p>

<%- if @user.url -%>
<p>
  <b>Website:</b>
  <%= link_to h(@user.url), h(@user.url) %>
</p>
<%- end -%>

<p>
  <b>Open ID:</b>
  <%= link_to h(@user.identity_url), h(@user.identity_url) %>
</p>

<p>
  <b>Github:</b>
  <%= link_to h(@user.github_user), h(@user.github_url) %>
</p>

<p>
  <b>Time zone:</b>
  <%=h @user.time_zone %>
</p>

</div>
