<h1><%=h @user.display_name %></h1>

<div id="matches">
	<h3>Matches</h3>
	<ul>
		<% if @user.matches.any? %>
			<% @user.matches.each do |match| %>
				<li><%= link_to h(match.name), match_path(match) %></li>
			<% end %>
		<% else %>
		<li><%= h(@user.display_name) %> is not currently playing.</li>
		<% end %>
	</ul>
</div>

<div id="user_details">
<p>
  <%=h @user.fullname %>
</p>
<p>
  <b>Email:</b>
  <%= mail_to h(@user.email), h(@user.email), :encode => :javascript %>
</p>

<p>
  <%= link_to h(@user.url), h(@user.url) %>
</p>

<p>
  <b>Open ID:</b>
  <%= link_to h(@user.identity_url), h(@user.identity_url) %>
</p>

<p>
  <b>Github:</b>
  <%= link_to h(@user.github_user), h(@user.github_url) %>
</p>

<p>
  <b>Time zone:</b>
  <%=h @user.time_zone %>
</p>

</div>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'All Users', users_path %>
