<div id="user_page">
  
  <h2>
  <%= display_user_avatar(@user, :large) %><br />
  <%=h @user.display_name %>
  </h2>

  <div id="user_info">

    <%- if @user.url -%><p class="website"><%= link_to h(@user.url), h(@user.url) %></p><%- end -%>

    <table id="user_badges">
      <td><a href="http://github.com/<%=h @user.github_user %>"><img src="/images/github.png" width="128" height="128" alt="Github"></a></td>
      <td><a href="http://twitter.com/<%=h @user.twitter_name %>"><img src="/images/twitter.png" width="128" height="128" alt="Twitter"></a></td>
    </table>

  </div>

  <div id="user_matches">

    <%- if logged_in? && current_user != @user -%> 
    <div id="user_add">
      <%- if current_user.administrations.with_openings.any? -%>
      <% form_tag(players_matches_path) do %>
        <%= hidden_field_tag :user_id, @user.id %>
          Add this user to one of your Matches?<br/>
          <%= select_tag :match_id, options_from_collection_for_select(current_user.administrations.with_openings, :id, :name) %>
          <%= submit_tag "Add" %>
      <%- end -%>
      <%- else -%>
      To play with this user, create a <%= link_to "new match", new_match_path %>.
      <%- end -%>
    </div> 
    <%- end -%>

    <h3>Matches</h3>

    <%- if @user.matches.incomplete.any? -%>
    <ul>
    <%- @user.matches.incomplete.each do |match| -%>
      <li>
        <strong><%= link_to h(match.name), match_path(match) %></strong><br/>
        <%= h(match.description) %>
      </li>
    <%- end -%>
    </ul>
    <%- else -%>
    <p><%= h(@user.display_name) %> is not currently playing in any matches.</p>
    <%- end -%>

    <%- if @user.matches.complete.any? -%>
    <ul>
    <%- @user.matches.complete.each do |match| -%>
      <li>
        <strong><%= link_to h(match.name), match_path(match) %></strong><br/>
        <%= h(match.description) %>
      </li>
    <%- end -%>
    </ul>
    <%- else -%>
    <p>This player hasn't played in any past matches.</p>
    <%- end -%>
    
    <p><%= current_user_path %></p>
  </div>
  
</div>