<table class="home_avatars">
	<tr>
		<td><%= image_tag("girl_medium.png", :alt => "Girl") %></td>
		<td><%= image_tag("ninja_medium.png", :alt => "Girl") %></td>
		<td><%= image_tag("panda_medium.png", :alt => "Girl") %></td>
	</tr>
	<tr>
		<td><%= image_tag("robot_medium.png", :alt => "Girl") %></td>
		<td><%= image_tag("shaman_medium.png", :alt => "Girl") %></td>
		<td><%= image_tag("viking_medium.png", :alt => "Girl") %></td>
	</tr>
</table>

<p><strong>Code Tennis</strong> is turn-based programming game goodness.  It's extreme paired-programming, but with Vikings and Pandas.</p>

<p><strong><%= link_to 'Get started', login_path %></strong> or <strong><%= link_to 'get help', help_path %></strong>.</p>