<div id="form"><h1>Editing match</h1>

<% form_for(@match) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :github_user %><br />
    <%= f.text_field :github_user %>
  </p>
  <p>
    <%= f.label :github_project %><br />
    <%= f.text_field :github_project %>
  </p>
  <p>
    <%= f.label :admin_id %><br />
    <%= f.select :admin_id, @match.possible_admins.collect {|u| [ u.fullname, u.id ] } %>
    <span class="note">Note: You will no longer be able to administer this match if you make someone else the admin.</span>
  </p>
    <span><%= f.submit "Update" %> <%= link_to "Cancel", @match %></span>
<% end %></div>