<div id="match_index">

<h1>Matches</h1>

<% for match in @matches %>
<table>
  <tr>
    <td rowspan="4" class="avatar">
      <%= display_user_avatar(match.admin, :medium) %>
    </td>
    <td colspan="2">
      <span class="match-name"><%= link_to h(match.name), match %></span><br />
      <span class="match-description"><%= match.description %></span>
    </td>
    <tr>
       <td class="players" colspan="2">
         <strong>Players:</strong> <%= match.players.map{|p| link_to(h(p.name), p.user) }.to_sentence %>
      </td>
    </tr>
  </table>
<% end %>

<br />

<%= will_paginate @matches %>

<%- if logged_in? -%>
<p class="new_match">
  Set up <%= link_to("your own match", new_match_path) %>.
</p>
<%- end -%>

</div>