<h1>New Match</h1>

<% form_for(@match) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description, :size => "40x2" %>
  </p>
  <p>
    <%= f.label :github_user, "Github Username" %><br />
    <%= f.text_field :github_user %>
  </p>
  <p>
    <%= f.label :github_project, "Github Project" %><br />
    <%= f.text_field :github_project %>
  </p>
  <p>
    <%= f.check_box :admin_is_player %>
    <%= f.label :admin_is_player, "Include yourself as a player?" %>
  </p>

   <span><%= f.submit "Create" %> <%= link_to "Cancel", matches_path %></span>
<% end %>

