<p>
  <b>Admin:</b>
  <%=h @match.admin_id %>
</p>

<p>
  <b>Name:</b>
  <%=h @match.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @match.description %>
</p>

<p>
  <b>Github user:</b>
  <%=h @match.github_user %>
</p>

<p>
  <b>Github project:</b>
  <%=h @match.github_project %>
</p>


<%= link_to 'Edit', edit_match_path(@match) %> |
<%= link_to 'Back', matches_path %>
