<div id="match_page">

<h2><%=h @match.name %></h2>

<%- if current_user == @match.admin -%><p><b><%= link_to "Edit", edit_match_path(@match) %></b> this match.</p><%- end -%>

<% if @match.complete? %>
  <h3>This match is over.</h3>
<% elsif current_user == @match.admin %>
  <p><%= link_to "Close this match", complete_match_path(@match), :method => :put %></p>
<% end %>

<p>
  <b>Admin:</b> <%= link_to h(@match.admin.fullname), @match.admin %>
</p>

<p>
  <b>Github:</b> <%= link_to h(@match.github_url), h(@match.github_url) %>
</p>

<%- if current_user == @match.admin -%>
<p>
  Your <b>Post-Receive URL</b> for github is <code style="background:#ffffcc"><%= push_match_url(@match) %></code><br />
  Make sure you place this in <%= link_to h(@match.github_project), h(@match.github_url) %>'s Post-Receive URL so we can track your project.
</p>
<%- end -%>

<p>
  <b>Description:</b>
  <%=h @match.description %>
</p>

<h3>Players:</h3>
<%- if @match.players.any? -%>
<ul>
  <%- for user in @match.players.map(&:user) -%>
  <li><%= link_to(h(user.fullname), user) %></li>
  <%- end -%>
</ul>
<%- else -%>
<p>No players yet for this match. Browse to a user's profile to add them to
your available matches.</p>
<%- end -%>

<h3>Volleys</h3>
<%- if @match.volleys.incomplete.any? -%>
<%= render :partial => "volley", :collection => @match.volleys.incomplete %>
<%- if current_user == @match.admin -%>
	<%= link_to "End current volley", volley_match_path(@match), :method => :put  %>
<%- end -%>
<%- end -%>

<%- if @match.volleys.complete.any? -%>
<h4>Completed Volleys</h4>
<%= render :partial => "volley", :collection => @match.volleys.complete %>
<div id="volley-timeline" class="timeline" style="height: 400px; border: 1px solid #aaa"></div>
<%- else -%>
<p>No volleys have been completed.</p>
<%- end -%>

<%- if ENV["RAILS_ENV"] == "development" -%>
<div id="dev_env"></div>
<%- end -%>
<div id="match_id" style="display:none;"><%= @match.id %></div>
<script type="text/javascript" charset="utf-8">


var tl;
var resizeTimerID = null;
var match_id = document.getElementById('match_id').innerHTML;
var url = '';
if (document.getElementById('dev_env')) {
	url = "http://localhost:3000/matches/" + match_id + "/volleys.xml";
} else {
	url = "http://" + window.location.hostname + "/matches/" + match_id + "/volleys.xml";
}
function onLoad() {
  var eventSource = new Timeline.DefaultEventSource();
	  var bandInfos = [
	    Timeline.createBandInfo({
		  	eventSource:    eventSource,
			width:          "40%", 
			height:         "400px",
	        intervalUnit:   Timeline.DateTime.DAY, 
	        intervalPixels: 100
	    }),
	    Timeline.createBandInfo({
		  	eventSource:    eventSource,
			width:          "60%",
			height:         "200px", 
	        intervalUnit:   Timeline.DateTime.MONTH, 
	        intervalPixels: 275
	    })
	  ];
	  bandInfos[1].syncWith = 0;
	  bandInfos[1].highlight = true;

	  tl = Timeline.create(document.getElementById('volley-timeline'), bandInfos);
	 Timeline.loadXML(url , function(xml, url) { eventSource.loadXML(xml, url); });
	};

function onResize() {
	    if (resizeTimerID == null) {
	        resizeTimerID = window.setTimeout(function() {
	            resizeTimerID = null;
	            tl.layout();
	        }, 500);
	    }
};
// fucking hacks :/
document.body.onload = onLoad();
document.body.onresize = onResize();

</script>
  
</div>
