<h2><%=h @match.name %></h2>

<p>
  <b>Admin:</b> <%= link_to h(@match.admin.fullname), @match.admin %>
</p>

<p>
  <b>Github:</b> <%= link_to h(@match.github_url) %>
</p>

<p>
  <b>Description:</b>
  <%=h @match.description %>
</p>

<%= link_to 'Edit', edit_match_path(@match) %> |
<%= link_to 'Back', matches_path %>
