<h2><%=h @match.name %></h2>
<% if @match.complete? %>
  <h3>This match is over.</h3>
<% elsif current_user == @match.admin %>
  <%= link_to "Close this match", complete_match_path(@match), :method => :put %>
<% end %>
<p>
  <b>Admin:</b> <%= link_to h(@match.admin.fullname), @match.admin %>
</p>

<p>
  <b>Github:</b> <%= link_to h(@match.github_url), h(@match.github_url) %>
</p>

<p>
  <b>Description:</b>
  <%=h @match.description %>
</p>

<h3>Players:</h3>
<%- if @match.players.any? -%>
<ul>
  <%- for user in @match.players.map(&:user) -%>
  <li><%= link_to(h(user.fullname), user) %></li>
  <%- end -%>
</ul>
<%- else -%>
<p>No players yet for this match.</p>
<%- end -%>

<h3>Current Volley</h3>
<%- if @match.volleys.incomplete.any? -%>
<ul>
<%- for volley in @match.volleys.incomplete -%>
  <li>
    <%- if !volley.commits.blank? -%>
    <%= link_to h(volley.player.user.fullname), volley.player.user %>
    <ul>
      <%- for commit in volley.commits -%>
      <li>
        <%= link_to h(commit.guid), h(commit.url) %>
        <%= link_to h(commit.player.user.fullname), commit.player.user.github_url %>
        <%= link_to h(commit.message), h(commit.url) %>
      </li>
      <%- end -%>
    </ul>
    <%- else -%>
    <%= link_to h(volley.player.user.fullname), volley.player.user %> hasn't made any commits yet.
    <%- end -%>
  </li>
<%- end -%>
</ul>
<%- if current_user == @match.admin -%>
	<%= link_to "End current volley", volley_match_path(@match), :method => :put  %>
<%- end -%>
<%- end -%>

<h3>Complete Volleys</h3>
<%- if @match.volleys.complete.any? -%>
  <ul>
  <%- for volley in @match.volleys.complete -%>
    <li>
      <%- if !volley.commits.blank? -%>
      <%= link_to h(volley.player.user.fullname), volley.player.user %>
      <ul>
        <%- for commit in volley.commits -%>
        <li>
          <%= link_to h(commit.guid), h(commit.url) %>
          <%= link_to h(commit.player.user.fullname), commit.player.user.github_url %>
          <%= link_to h(commit.message), h(commit.url) %>
        </li>
        <%- end -%>
      </ul>
      <%- else -%>
      <%= link_to h(volley.player.user.fullname), volley.player.user %> hasn't made any commits yet.
      <%- end -%>
    </li>
  <%- end -%>
  </ul>
<%- else -%>
<p>No volleys have been completed.</p>
<%- end -%>


<p>
  <%= link_to "Back", matches_path %>
  <% if @match.admin == current_user %>| <%= link_to "Edit", edit_match_path(@match) %><% end %>
</p>
